/**
  * Pikalytics Calc Styles
  *
  * New styles added to the open source pikalytics-calc repo should be added here.
  *
  */

#surv_button_loader {
  display: inline-block;
  position: relative;
  top:-8px;
  left:-8px;
}
#surv_button_loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #5a5a58;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5a5a58 transparent transparent transparent;
}
#surv_button_loader div:nth-child(1) {
  animation-delay: -0.45s;
}
#surv_button_loader div:nth-child(2) {
  animation-delay: -0.3s;
}
#surv_button_loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
